lib/flows/Desktop.json
[{"id":"58170b6e.f9d964","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89,"y":44,"wires":[["f1c43f47.abc1e"]]},{"id":"2e1f89bf.542066","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":110,"wires":[["3d8d1b66.ef43e4"]]},{"id":"e71b86af.6faf78","type":"template","z":"9bd3aea3.8e29b","name":"kiosk application","field":"payload","fieldType":"msg","format":"text","syntax":"mustache","template":"#!/bin/bash\n\n# Run this script in display 0 - the monitor\nexport DISPLAY=:0\n\n# Hide the mouse from the display\nunclutter &\n\n# If Chromium crashes (usually due to rebooting), clear the crash flag so we don't have the annoying warning bar\nsed -i 's/\"exited_cleanly\":false/\"exited_cleanly\":true/' /home/casi/.config/chromium/Default/Preferences\nsed -i 's/\"exit_type\":\"Crashed\"/\"exit_type\":\"Normal\"/' /home/casi/.config/chromium/Default/Preferences\n\n# Run Chromium and open tabs\n/usr/bin/chromium-browser --window-size=1920,1080 --kiosk --window-position=0,0 {{payload}}  &\n\n# Start the kiosk loop. This keystroke changes the Chromium tab\n# To have just anti-idle, use this line instead:\n# xdotool keydown ctrl; xdotool keyup ctrl;\n# Otherwise, the ctrl+Tab is designed to switch tabs in Chrome\n# #\nwhile (true)\n  do\n    xdotool keydown ctrl+Tab; xdotool keyup ctrl+Tab;\n    sleep 15\ndone\n","output":"str","x":504,"y":230,"wires":[["91464c1e.9cb1c"]]},{"id":"1ab557b9.a4aea8","type":"function","z":"9bd3aea3.8e29b","name":"","func":"return msg;","outputs":1,"noerr":0,"x":221,"y":233,"wires":[["bf48cf4f.0d0b6"]]},{"id":"95b6f35f.695a2","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"localhost:1880/vis/index.html#home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":94,"y":235,"wires":[["1ab557b9.a4aea8"]]},{"id":"bf48cf4f.0d0b6","type":"json","z":"9bd3aea3.8e29b","name":"","property":"payload","action":"str","pretty":true,"x":349,"y":228,"wires":[["e71b86af.6faf78"]]},{"id":"91464c1e.9cb1c","type":"file","z":"9bd3aea3.8e29b","name":"","filename":"/home/casi/test.tx","appendNewline":false,"createDir":true,"overwriteFile":"true","x":721,"y":234,"wires":[]},{"id":"1d2937bb.e2a0d8","type":"vis in","z":"9bd3aea3.8e29b","language":"en","x":616,"y":120,"wires":[[]]},{"id":"3d8d1b66.ef43e4","type":"bigexec","z":"9bd3aea3.8e29b","name":"Shutdown Browser","command":"sudo ","commandArgs":"killall chromium-browser","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":336,"y":110.5,"wires":[[],[],[]]},{"id":"f1c43f47.abc1e","type":"bigexec","z":"9bd3aea3.8e29b","name":"Restart Kiosk App","command":"sudo","commandArgs":"service lightdm restart","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":333,"y":46.5,"wires":[[],[],[]]}]