lib/flows/mongodb insert.json
[{"id":"58dd4854.f51108","type":"debug","z":"556f9e76.79d3d","name":"","active":true,"console":"false","complete":"payload","x":1083,"y":339,"wires":[]},{"id":"bb1a2df0.5199e","type":"inject","z":"556f9e76.79d3d","name":"2) Output Separately for each Record","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":585,"y":242,"wires":[["5a9c00b2.f160e"]]},{"id":"2bc90b92.17a2f4","type":"mongodb2 in","z":"556f9e76.79d3d","service":"_ext_","configNode":"","name":"Mongo DB dynamic operation","collection":"","operation":"","x":743,"y":313,"wires":[["935a25aa.56f6d8"]]},{"id":"62e96826.538a48","type":"mongodb2 in","z":"556f9e76.79d3d","service":"_ext_","configNode":"","name":"Mongo DB dynamic operation","collection":"names","operation":"","x":753,"y":100,"wires":[["935a25aa.56f6d8"]]},{"id":"3298d41c.bb9cbc","type":"inject","z":"556f9e76.79d3d","name":"1) Find One only","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":519,"y":40,"wires":[["1782387c.1d8328"]]},{"id":"1782387c.1d8328","type":"function","z":"556f9e76.79d3d","name":"findOne","func":" var newMsg = {};\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":545,"y":99,"wires":[["62e96826.538a48"]]},{"id":"9758f867.4fc4a8","type":"mongodb2 in","z":"556f9e76.79d3d","service":"_ext_","configNode":"","name":"Store Data into MongoDB","collection":"","operation":"","x":876,"y":391,"wires":[[]]},{"id":"5a9c00b2.f160e","type":"function","z":"556f9e76.79d3d","name":"find.forEach","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.forEach';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":525,"y":313,"wires":[["2bc90b92.17a2f4"]]},{"id":"935a25aa.56f6d8","type":"function","z":"556f9e76.79d3d","name":"Just get name","func":"var newMsg = {};\nnewMsg.payload    = msg.payload.name;\nreturn newMsg;","outputs":1,"x":965,"y":160,"wires":[["58dd4854.f51108"]]},{"id":"54efe415.4b6a1c","type":"inject","z":"556f9e76.79d3d","name":"4) Output once only as a list","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":557,"y":481,"wires":[["d4330619.1bb9c8"]]},{"id":"d4330619.1bb9c8","type":"function","z":"556f9e76.79d3d","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'names';\nnewMsg.operation  = 'find.toArray';\n//newMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Pete2' };\nnewMsg.payload    = { 'name' : 'Pete1' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"x":521,"y":540,"wires":[["f7f5af11.f3913"]]},{"id":"f7f5af11.f3913","type":"mongodb2 in","z":"556f9e76.79d3d","service":"_ext_","configNode":"","name":"Mongo DB dynamic operation","collection":"","operation":"","x":732,"y":540,"wires":[["6f107b9c.3ea054"]]},{"id":"6f107b9c.3ea054","type":"function","z":"556f9e76.79d3d","name":"get names as a list","func":"// Outputs separate messages !!\n//var newMsg =[];\n//for (var i = 0; i < msg.payload.length; i++) { \n//newMsg.push({name: msg.payload[i].name}) };\n//return [ newMsg ];\n\n// Combines into a single list (or array)\nvar newMsg =[];\nfor (var i = 0; i < msg.payload.length; i++) {\n//newMsg.push({name:  msg.payload[i].name } ) };\nnewMsg.push(msg.payload[i].name) };\nmsg.payload = newMsg;\nreturn  msg;\n","outputs":1,"x":966,"y":540,"wires":[["58dd4854.f51108"]]},{"id":"ebf28ede.5cf7a","type":"inject","z":"556f9e76.79d3d","name":"3) Enter data","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":506,"y":392,"wires":[["48015a5d.d53dc4"]]},{"id":"48015a5d.d53dc4","type":"function","z":"556f9e76.79d3d","name":"insert (or delete)","func":"var newMsg = {};\nnewMsg.collection = 'names';\n//newMsg.operation  = 'deleteOne';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = { 'name' : 'Pete1' , 'names' : 'Smith4' };\nreturn newMsg;","outputs":1,"x":667,"y":392,"wires":[["9758f867.4fc4a8"]]}]