lib/flows/mongodb clear.json
[{"id":"cecc50e2.dfc89","type":"inject","z":"c620a3a5.66971","name":"Clear Tweets","topic":"","payload":"{}","payloadType":"str","repeat":"","crontab":"","once":false,"x":252,"y":453,"wires":[["45653c34.e1a754"]]},{"id":"e691f4b1.a99af8","type":"mongodb out","z":"c620a3a5.66971","mongodb":"6e8c346.e7956cc","name":"","collection":"tweets","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":615,"y":448,"wires":[]},{"id":"45653c34.e1a754","type":"json","z":"c620a3a5.66971","name":"","x":387,"y":453,"wires":[["e691f4b1.a99af8"]]},{"id":"3aaccf4f.3469d","type":"http response","z":"c620a3a5.66971","name":"","x":759,"y":378,"wires":[]},{"id":"dd356fa.c3bc99","type":"debug","z":"c620a3a5.66971","name":"","active":true,"console":"false","complete":"false","x":685,"y":126,"wires":[]},{"id":"100dcf86.361b3","type":"mongodb out","z":"c620a3a5.66971","mongodb":"6e8c346.e7956cc","name":"Save Tweets","collection":"tweets","payonly":false,"upsert":false,"multi":false,"operation":"store","x":683,"y":166,"wires":[]},{"id":"c473abb2.889868","type":"http in","z":"c620a3a5.66971","name":"","url":"/tweets","method":"get","swaggerDoc":"","x":221,"y":187,"wires":[["2f71181.c660be8"]]},{"id":"243e50ed.07644","type":"mongodb in","z":"c620a3a5.66971","mongodb":"6e8c346.e7956cc","name":"Retrieve Tweets","collection":"tweets","operation":"find","x":456,"y":310,"wires":[["e7a4b59b.05ef18"]]},{"id":"e7a4b59b.05ef18","type":"template","z":"c620a3a5.66971","name":"Styled Tweets","field":"payload","format":"handlebars","template":"<html>\n<head>\n    <style>\nbody {\n    text-align:center;\n}\nul {\n    text-align:left;\n    width: 500px;\n    margin: auto;\n    list-style-type:none;\n}\nli {\n    border: 1px solid #999;\n    border-left-width: 10px;\n    border-radius: 3px;\n    margin-bottom: 20px;\n    padding: 10px;\n}\nli.sentiment_positive {\n    border-left: 10px solid #69B369;\n}\nli.sentiment_negative {\n    border-left: 10px solid #E64444;\n}\n.tweet {\n    display: inline-block;\n    font-family: Helvetica;\n    width: 380px;\n    margin-left: 10px;\n}\nimg {\n    width: 48px;\n    height: 48px;\n    border-radius: 5px;\n    vertical-align: top;\n}\n</style>\n\n</head>\n<body>\n\n<ul>\n{{#payload}}\n<li class=\"sentiment_{{sentiment.text}}\">\n    <img src=\"{{tweet.user.profile_image_url}}\"/>\n    <div class=\"tweet\">\n        <div class=\"user\"><b>{{tweet.user.name}}</b> <small>@{{tweet.user.screen_name}}</small></div>\n        <div class=\"text\">{{tweet.text}}</div>\n    </div></li>\n{{/payload}}\n</ul>\n</body>\n</html>","x":643,"y":330,"wires":[["3aaccf4f.3469d"]]},{"id":"2f71181.c660be8","type":"function","z":"c620a3a5.66971","name":"Limit/Sort","func":"msg.sort = {\"tweet.id\":-1};\nmsg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":241,"wires":[["243e50ed.07644"]]},{"id":"edb4fc60.9f0cc","type":"sentiment","z":"c620a3a5.66971","name":"","x":356,"y":122,"wires":[["e60745f4.9b2098"]]},{"id":"e60745f4.9b2098","type":"function","z":"c620a3a5.66971","name":"","func":"if(msg.sentiment.score > 0 ) {\n    msg.sentiment.text = \"positive\";\n} else if (msg.sentiment.score < 0) {\n    msg.sentiment.text = \"negative\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":493,"y":122,"wires":[["dd356fa.c3bc99","100dcf86.361b3"]]},{"id":"c3460f6d.dcc4e","type":"template","z":"c620a3a5.66971","name":"Simple Tweet","field":"payload","format":"handlebars","template":"<ul>\n{{#payload}}\n    <li>{{tweet.text}}</li>\n{{/payload}}\n</ul>","x":649,"y":266,"wires":[[]]},{"id":"6e8c346.e7956cc","type":"mongodb","z":"c620a3a5.66971","hostname":"127.0.0.1","port":"27017","db":"tweets","name":""}]