lib/flows/mongodb app.json
[{"id":"6f7b0c54.fe63f4","type":"http in","z":"23b441d6.b84e6e","name":"","url":"/update","method":"put","swaggerDoc":"","x":747,"y":241.7000732421875,"wires":[["ddbf4cf0.63ca9"]]},{"id":"65e9723c.ef49fc","type":"mongodb2 in","z":"23b441d6.b84e6e","service":"_ext_","configNode":"ee795d4a.c3308","name":"","collection":"LicencePlate","operation":"update","x":1523.9998779296875,"y":241.8333740234375,"wires":[["cd52d618.226ac8"]]},{"id":"f2d20ff1.3c06c","type":"http response","z":"23b441d6.b84e6e","name":"","x":1992.9998779296875,"y":240.433349609375,"wires":[]},{"id":"44f7aa50.ee4744","type":"function","z":"23b441d6.b84e6e","name":"update request","func":"/*\nmsg.result correspond à l'objet mis à jour,\nle delete permet de supprimer la propriété\n_id de l'objet, en effet l'_id est géré directement\npar le noued OjectId\npour la requète update  \non doit fournir un tableau \n[\n<query>,\n<valeur mises à jour>\n]\n\nici ce sera de la forme:\n[\n    {_id:ObjectId(\"xxx\")},\n    {\"nom\": \"toto\", \"prenom\": \"tutu\", \n        \"immatriculation\": \"AB123CD\", \n        \"heure\": null, \"minute\": null\n    }\n]\n*/\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":1283.7666015625,"y":242.066650390625,"wires":[["65e9723c.ef49fc"]]},{"id":"ddbf4cf0.63ca9","type":"function","z":"23b441d6.b84e6e","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;\n\n\n//https://flows.nodered.org/flow/e32f2b942bce77ef6079c0642b93c036","outputs":1,"noerr":0,"x":934.8833618164062,"y":242.5,"wires":[["e242ba89.a27898"]]},{"id":"e242ba89.a27898","type":"objectid","z":"23b441d6.b84e6e","name":"","x":1088.8833312988281,"y":242.166748046875,"wires":[["44f7aa50.ee4744"]]},{"id":"573174e5.c1305c","type":"template","z":"23b441d6.b84e6e","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"Nom\", name: \"nom\", type: \"text\", width: 50 },\n                        { title:\"Prénom\", name: \"prenom\", type: \"text\", width: 50 },\n                        { title:\"Plaque\", name: \"immatriculation\", type: \"text\", width: 50 },\n                        { title:\"Heure\", name: \"heure\", type:\"number\", width: 25},\n                        { title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":1844.7666015625,"y":114.30000305175781,"wires":[["7d077991.36b878"]]},{"id":"a112da55.210cf8","type":"http in","z":"23b441d6.b84e6e","name":"","url":"/plates","method":"get","swaggerDoc":"","x":753.7666625976562,"y":116.30000305175781,"wires":[["f6e525d6.07cdd8"]]},{"id":"7d077991.36b878","type":"http response","z":"23b441d6.b84e6e","name":"","x":2027.7666015625,"y":116.53334045410156,"wires":[]},{"id":"f6e525d6.07cdd8","type":"mongodb2 in","z":"23b441d6.b84e6e","service":"_ext_","configNode":"ee795d4a.c3308","name":"","collection":"LicencePlate","operation":"find.toArray","x":1249.88330078125,"y":88,"wires":[["d17a3377.64ffd"]]},{"id":"d17a3377.64ffd","type":"json","z":"23b441d6.b84e6e","name":"","x":1662.7666015625,"y":106,"wires":[["573174e5.c1305c"]]},{"id":"cd52d618.226ac8","type":"function","z":"23b441d6.b84e6e","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":1791.7666015625,"y":241.2166748046875,"wires":[["f2d20ff1.3c06c"]]},{"id":"fe0845ff.7d0598","type":"mongodb2 in","z":"23b441d6.b84e6e","service":"_ext_","configNode":"ee795d4a.c3308","name":"","collection":"LicencePlate","operation":"insert","x":1530.8831787109375,"y":338.13330078125,"wires":[["25f83d01.23b422"]]},{"id":"8f74333b.3547b","type":"http response","z":"23b441d6.b84e6e","name":"","x":2001.8831787109375,"y":336.7332763671875,"wires":[]},{"id":"1c2fd527.5a3f7b","type":"http in","z":"23b441d6.b84e6e","name":"","url":"/insert","method":"post","swaggerDoc":"","x":746.7666625976562,"y":331.9500732421875,"wires":[["fe0845ff.7d0598"]]},{"id":"371c712.6c0728e","type":"http in","z":"23b441d6.b84e6e","name":"","url":"/delete","method":"delete","swaggerDoc":"","x":759.7666625976562,"y":428.9500427246094,"wires":[["1ab8a308.da0d7d"]]},{"id":"97c93899.b75318","type":"mongodb2 in","z":"23b441d6.b84e6e","service":"_ext_","configNode":"ee795d4a.c3308","name":"","collection":"LicencePlate","operation":"deleteOne","x":1541.88330078125,"y":427.9999694824219,"wires":[["ccf7a685.d349c8"]]},{"id":"1ab8a308.da0d7d","type":"function","z":"23b441d6.b84e6e","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":956.8833312988281,"y":428.9999694824219,"wires":[["29463b4c.9295b4"]]},{"id":"29463b4c.9295b4","type":"objectid","z":"23b441d6.b84e6e","name":"","x":1128.88330078125,"y":428.6667175292969,"wires":[["97c93899.b75318"]]},{"id":"ccf7a685.d349c8","type":"http response","z":"23b441d6.b84e6e","name":"","x":2001.7666015625,"y":423.5332946777344,"wires":[]},{"id":"25f83d01.23b422","type":"function","z":"23b441d6.b84e6e","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":1798.88330078125,"y":338,"wires":[["8f74333b.3547b"]]},{"id":"fa1b52.7b4c14b","type":"comment","z":"23b441d6.b84e6e","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"nom\": \"riotte\",\n    \"prenom\": \"françois\",\n    \"immatriculation\": \"123456\",\n    \"heure\": \"13\",\n    \"minute\": \"30\"\n}\n```","x":1503.7666320800781,"y":38,"wires":[]},{"id":"88bbab47.8d2db8","type":"function","z":"23b441d6.b84e6e","name":"Notes URLs","func":"//https://flows.nodered.org/flow/e32f2b942bce77ef6079c0642b93c036\n//https://flows.nodered.org/node/node-red-contrib-mongodb2\n//http://mongodb.github.io/node-mongodb-native/2.0/tutorials/connecting/\n//https://stackoverflow.com/questions/24985684/mongodb-show-all-contents-from-all-collections","outputs":1,"noerr":0,"x":970.5,"y":63,"wires":[[]]},{"id":"ee795d4a.c3308","type":"mongodb2","z":"","uri":"mongodb://db.casi.io:1889/devices","name":"devices","options":"","parallelism":"-1"}]