lib/flows/Runtimes.json
[{"id":"ab24b02.a4a145","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":523.2858486175537,"y":160.52386510372162,"wires":[["3f60715d.27c82e"]]},{"id":"89fe7b3a.b18678","type":"comment","z":"4446942c.91dbec","name":"Send runtimes to vis","info":"","x":647.833309173584,"y":53,"wires":[]},{"id":"bb191939.a66298","type":"inject","z":"4446942c.91dbec","name":"1 SEC PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":174.33336448669434,"y":258.3334583044052,"wires":[["ab24b02.a4a145","c0ebb622.09f468","b335489a.bafdf8"]]},{"id":"84da2363.36551","type":"function","z":"4446942c.91dbec","name":"global get blwr","func":"if (global.get ('blwr') <= 2 && \nglobal.get ('blwr') >0) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":289.9999694824219,"y":627.166646361351,"wires":[["3c9fc4c9.b528bc"]]},{"id":"f418c64e.140408","type":"function","z":"4446942c.91dbec","name":"global get ballvalve","func":"if (global.get ('ballvalve') == 1 ) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":281.71421813964844,"y":952.6904367208481,"wires":[["646fdba2.8f47c4"]]},{"id":"5c4cb0a5.35f5a","type":"inject","z":"4446942c.91dbec","name":"1 SEC PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":145.44441604614258,"y":728.8333123922348,"wires":[["b9322f94.63bec"]]},{"id":"3c9fc4c9.b528bc","type":"switch","z":"4446942c.91dbec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":448.9999694824219,"y":626.166646361351,"wires":[["906f5adf.a67ff8","df960d9f.3d629","82f329d5.57b098"],["ed6186c2.c577d8"]]},{"id":"9a24eb91.aeb258","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1154.7144393920898,"y":978.7500171661377,"wires":[["cf256cad.12373"]]},{"id":"59904e06.5aaf6","type":"function","z":"4446942c.91dbec","name":"Reset runtime variables","func":"var brtemp = global.set ('brtemp', 0);\nvar brperm = global.set ('brperm', 0);\nvar blwrcount = global.set ('blwrcount', 0);\nvar bvtemp = global.set ('bvtemp', 0);\nvar bvperm = global.set ('bvperm', 0);\nvar cvtemp = global.set ('cvtemp', 0);\nvar cvperm = global.set ('cvperm', 0);\n\nreturn msg; \n","outputs":"1","noerr":0,"x":499.29771423339844,"y":1539.1425504684448,"wires":[["4932788d.b3ee78","849ccaec.ee1428","b571ce6.ab0be3"]]},{"id":"90d9699f.5881b8","type":"switch","z":"4446942c.91dbec","name":"reset runtimes on factreset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreset","vt":"str"}],"checkall":"true","outputs":1,"x":390.26194190979004,"y":1650.7141927480698,"wires":[["5d70f747.21cc18"]]},{"id":"1e3748be.4e6ee7","type":"function","z":"4446942c.91dbec","name":"global set brtemp","func":"var brtemp = global.set('brtemp',0);\nreturn msg;","outputs":1,"noerr":0,"x":944.5714569091797,"y":701.3094701766968,"wires":[[]]},{"id":"c0ebb622.09f468","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":519.8572597503662,"y":220.3809665441513,"wires":[["20009aa0.bb2946"]]},{"id":"b3eb2812.7dd1e8","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bvpermhrs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1022.3215847015381,"y":256.8810123205185,"wires":[["5b64d4db.19d8ec"]]},{"id":"c233dd9f.3527e","type":"function","z":"4446942c.91dbec","name":"global set brperm","func":"var temp = global.get('brperm') -( -global.get('brtemp')); \nvar brperm = global.set('brperm',temp);\nmsg.payload = global.get('brperm');\nreturn msg;","outputs":1,"noerr":0,"x":941.5714492797852,"y":660.023738861084,"wires":[["af4f58bb.81fb28"]]},{"id":"af4f58bb.81fb28","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1143.2857627868652,"y":660.1666221618652,"wires":[["ff3fb707.d5a1f8"]]},{"id":"3dc1c09e.ddc2a","type":"inject","z":"4446942c.91dbec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":304.26194763183594,"y":1503.714144706726,"wires":[["59904e06.5aaf6"]]},{"id":"4932788d.b3ee78","type":"function","z":"4446942c.91dbec","name":"global get brperm","func":"msg.payload = global.get('brperm');\nmsg.topic = 'brperm';\nreturn msg;","outputs":1,"noerr":0,"x":783.6905326843262,"y":1541.8570365905762,"wires":[["a552f52d.d87288"]]},{"id":"849ccaec.ee1428","type":"function","z":"4446942c.91dbec","name":"global get bvperm","func":"msg.payload = global.get('bvperm');\nmsg.topic = 'bvperm';\nreturn msg;","outputs":1,"noerr":0,"x":779.2619972229004,"y":1620.8569135665894,"wires":[["f474ef56.cd249"]]},{"id":"a552f52d.d87288","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1058.261962890625,"y":1535.7141485214233,"wires":[["5fb840d5.85f1c"]]},{"id":"f474ef56.cd249","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1046.9764671325684,"y":1621.5238695144653,"wires":[["e0170e02.843f1"]]},{"id":"9ccd0eab.7b689","type":"inject","z":"4446942c.91dbec","name":"BLOWER 1","topic":"blwr","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":152.99996948242188,"y":460.16668701171875,"wires":[["22f430aa.c1ea3"]]},{"id":"22f430aa.c1ea3","type":"function","z":"4446942c.91dbec","name":"global set blwr","func":"global.set('blwr',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":488.7619171142578,"y":475.3690767288208,"wires":[[]]},{"id":"f82c8f0.9099d7","type":"inject","z":"4446942c.91dbec","name":"BLOWER 0","topic":"blwr","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":153.8332977294922,"y":424.49998474121094,"wires":[["22f430aa.c1ea3"]]},{"id":"9fbecc68.66017","type":"inject","z":"4446942c.91dbec","name":"BLOWER 2","topic":"blwr","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.99996948242188,"y":497.16668701171875,"wires":[["22f430aa.c1ea3"]]},{"id":"ee5154c8.f0a898","type":"inject","z":"4446942c.91dbec","name":"BLOWER 3","topic":"blwr","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.99996948242188,"y":533.1666870117188,"wires":[["22f430aa.c1ea3"]]},{"id":"ed6186c2.c577d8","type":"trigger","z":"4446942c.91dbec","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":724.285701751709,"y":658.1666584014893,"wires":[["c233dd9f.3527e","1e3748be.4e6ee7"]]},{"id":"906f5adf.a67ff8","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":558.8571090698242,"y":702.5951156616211,"wires":[["ed6186c2.c577d8"]]},{"id":"b505ce0e.f2873","type":"trigger","z":"4446942c.91dbec","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":744.7856826782227,"y":978.2261619567871,"wires":[["6d3fe5e.7a4a81c","7d1b922a.2cbafc"]]},{"id":"28218152.9f5eae","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":582.2142486572266,"y":1019.7975978851318,"wires":[["b505ce0e.f2873"]]},{"id":"646fdba2.8f47c4","type":"switch","z":"4446942c.91dbec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":465.21422576904297,"y":951.9404462575912,"wires":[["28218152.9f5eae","a16fcec9.9cac5","19d3b278.94d30e"],["b505ce0e.f2873"]]},{"id":"6d3fe5e.7a4a81c","type":"function","z":"4446942c.91dbec","name":"global set bvperm","func":"var temp = global.get('bvperm') -( -global.get('bvtemp')); \nvar bvperm = global.set('bvperm',temp);\nmsg.payload = global.get('bvperm');\nreturn msg;","outputs":1,"noerr":0,"x":952.0713577270508,"y":978.654688835144,"wires":[["9a24eb91.aeb258"]]},{"id":"7d1b922a.2cbafc","type":"function","z":"4446942c.91dbec","name":"global set bvtemp","func":"var bvtemp = global.set('bvtemp',0);\nreturn msg;","outputs":1,"noerr":0,"x":950.7856369018555,"y":1022.7975625991821,"wires":[[]]},{"id":"d6a4cb42.bdd328","type":"inject","z":"4446942c.91dbec","name":"Ball valve 1","topic":"ballvalve","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":157.35710906982422,"y":1112.2975076436996,"wires":[["b46d11bd.ae9fd"]]},{"id":"b46d11bd.ae9fd","type":"function","z":"4446942c.91dbec","name":"global set ballvalve","func":"global.set('ballvalve',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":368.47615814208984,"y":1092.1428407430649,"wires":[[]]},{"id":"7d1357be.81c948","type":"inject","z":"4446942c.91dbec","name":"Ball valve 0","topic":"ballvalve","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":146.04754638671875,"y":1042.5237611532211,"wires":[["b46d11bd.ae9fd"]]},{"id":"5fb840d5.85f1c","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/BRperm","x":1263.761863708496,"y":1532.1428022384644,"wires":[]},{"id":"e0170e02.843f1","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/BVperm","x":1249.0475769042969,"y":1627.571442604065,"wires":[]},{"id":"ff3fb707.d5a1f8","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/BRperm","x":1316.5713348388672,"y":658.4524068832397,"wires":[]},{"id":"cf256cad.12373","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/BVperm","x":1328.2856750488281,"y":976.2620058059692,"wires":[]},{"id":"20009aa0.bb2946","type":"DataOut","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","path":"/BVperm","error":false,"x":711.8572292327881,"y":219.809601187706,"wires":[["dd807d10.3cf08","1ca9de01.b8aa42"]]},{"id":"22db30df.2e694","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630.0952224731445,"y":1914.357187628746,"wires":[["d9025e04.4013a"]]},{"id":"fcc4a819.32be38","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":631.666618347168,"y":2004.2142852544785,"wires":[["775dfb32.502324"]]},{"id":"d9025e04.4013a","type":"DataOut","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","path":"/BRperm","error":false,"x":819.6666488647461,"y":1909.9286111593246,"wires":[["bc2b167d.8f0178"]]},{"id":"775dfb32.502324","type":"DataOut","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","path":"/BVperm","error":false,"x":819.666561126709,"y":1995.6429265737534,"wires":[["1af04b9c.ae27d4"]]},{"id":"f48f3362.d736a","type":"inject","z":"4446942c.91dbec","name":"","topic":"","payload":"startup","payloadType":"str","repeat":"","crontab":"","once":true,"x":314.5952377319336,"y":2009.3574504852295,"wires":[["22db30df.2e694","fcc4a819.32be38","3e832fdc.7990c"]]},{"id":"bc2b167d.8f0178","type":"function","z":"4446942c.91dbec","name":"global set brperm","func":"var brperm = global.set('brperm',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1009.0952224731445,"y":1902.357187628746,"wires":[[]]},{"id":"1af04b9c.ae27d4","type":"function","z":"4446942c.91dbec","name":"global set bvperm","func":"var bvperm = global.set('bvperm',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1013.0952224731445,"y":1996.357187628746,"wires":[[]]},{"id":"bf5b7b3a.a34ae8","type":"comment","z":"4446942c.91dbec","name":"Blower runtime ","info":"","x":732.6904411315918,"y":426.9762029647827,"wires":[]},{"id":"52d6e44.d76c71c","type":"comment","z":"4446942c.91dbec","name":"Ball Valve runtime","info":"","x":741.1904907226562,"y":764.6904850006104,"wires":[]},{"id":"251a8bc6.0d0b04","type":"comment","z":"4446942c.91dbec","name":"Factory reset runtimes","info":"","x":707.8333206176758,"y":1459.6906299591064,"wires":[]},{"id":"f3372d2d.389ab","type":"comment","z":"4446942c.91dbec","name":"Read runtimes from DB on startup","info":"","x":660.4286041259766,"y":1848.3570575714111,"wires":[]},{"id":"5b64d4db.19d8ec","type":"vis in","z":"4446942c.91dbec","language":"en","x":1490.444480895996,"y":219.50003719329834,"wires":[[]]},{"id":"dd807d10.3cf08","type":"range","z":"4446942c.91dbec","minin":"0","maxin":"3600","minout":"0","maxout":"1","action":"scale","round":true,"name":"","x":858.4999294281006,"y":250.00000035762787,"wires":[["b3eb2812.7dd1e8"]]},{"id":"ba48c499.e1dd68","type":"range","z":"4446942c.91dbec","minin":"0","maxin":"3600","minout":"0","maxout":"1","action":"scale","round":true,"name":"","x":855.9999904632568,"y":168.00000035762787,"wires":[["1f825491.db543b"]]},{"id":"1f825491.db543b","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"brpermhrs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1052.5717067718506,"y":162.27388036251068,"wires":[["5b64d4db.19d8ec","6bfd28fa.221e38"]]},{"id":"cbf9132.4b455f","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bvpermmins","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1207.821584701538,"y":210.8810123205185,"wires":[["5b64d4db.19d8ec"]]},{"id":"d874b7f8.2d6878","type":"vis in","z":"4446942c.91dbec","language":"en","x":185.57133865356445,"y":1551.5714483261108,"wires":[["90d9699f.5881b8","a2c82ea0.3455c","d5368692.71ad78","6c7d4291.1d179c"]]},{"id":"c9689008.53f0a","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"brpermmins","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1299.5000381469727,"y":114.99995803833008,"wires":[["5b64d4db.19d8ec","374b4e30.769312"]]},{"id":"b9322f94.63bec","type":"delay","z":"4446942c.91dbec","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250.49993896484375,"y":799.4999622106552,"wires":[["84da2363.36551","f418c64e.140408","3603f7ae.17aaf8"]]},{"id":"d845b40f.31bde8","type":"function","z":"4446942c.91dbec","name":"calculate minutes from seconds","func":"var originalval = msg.payload;\nvar var1 = \"\";\n\nvar1 = parseFloat(originalval/3600).toFixed(5);\nvar2 = Math.trunc(originalval/3600);\nvar3 = var1 - var2;\nvar4 = Math.trunc(var3*60);\nmsg.payload = var4;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1051.9999771118164,"y":114.99995362758636,"wires":[["c9689008.53f0a"]]},{"id":"1ca9de01.b8aa42","type":"function","z":"4446942c.91dbec","name":"calculate minutes from seconds","func":"var originalval = msg.payload;\nvar var1 = \"\";\n\nvar1 = parseFloat(originalval/3600).toFixed(5);\nvar2 = Math.trunc(originalval/3600);\nvar3 = var1 - var2;\nvar4 = Math.trunc(var3*60);\nmsg.payload = var4;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":931.9999294281006,"y":211.99995458126068,"wires":[["cbf9132.4b455f"]]},{"id":"b335489a.bafdf8","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/CVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":524.4999771118164,"y":333.99998474121094,"wires":[["cd59ea70.09fc38"]]},{"id":"cd59ea70.09fc38","type":"DataOut","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","path":"/CVperm","error":false,"x":709.0713882446289,"y":331.57139587402344,"wires":[["afcf4e33.be2a3","be9f4a29.cdd858"]]},{"id":"afcf4e33.be2a3","type":"range","z":"4446942c.91dbec","minin":"0","maxin":"3600","minout":"0","maxout":"1","action":"scale","round":true,"name":"","x":871.2140808105469,"y":318.4761161804199,"wires":[["7b1dd428.20c72c"]]},{"id":"7b1dd428.20c72c","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"cvpermhrs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1021.7858200073242,"y":316.74998664855957,"wires":[["5b64d4db.19d8ec"]]},{"id":"be9f4a29.cdd858","type":"function","z":"4446942c.91dbec","name":"calculate minutes from seconds","func":"var originalval = msg.payload;\nvar var1 = \"\";\n\nvar1 = parseFloat(originalval/3600).toFixed(5);\nvar2 = Math.trunc(originalval/3600);\nvar3 = var1 - var2;\nvar4 = Math.trunc(var3*60);\nmsg.payload = var4;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":947.2140808105469,"y":355.4760694503784,"wires":[["ca0c54ff.258d38"]]},{"id":"ca0c54ff.258d38","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"cvpermmins","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1178.2141609191895,"y":351.47605895996094,"wires":[["5b64d4db.19d8ec"]]},{"id":"3603f7ae.17aaf8","type":"function","z":"4446942c.91dbec","name":"global get conveyor","func":"if (global.get ('conveyor') == 1 ) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":315.9999542236328,"y":1238.2143154144287,"wires":[["bf6f8ad8.ee1348"]]},{"id":"ae514186.f89d2","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/CVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170.4287796020508,"y":1277.1310453414917,"wires":[["551ca52d.75e12c"]]},{"id":"c9c27829.a13c58","type":"trigger","z":"4446942c.91dbec","op1":"0","op2":"0","op1type":"num","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"reset","name":"","x":756.2143020629883,"y":1276.607190132141,"wires":[["3dd558fa.706e58","6eb50616.af9b08"]]},{"id":"fc97a35c.eb227","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":609.3571395874023,"y":1332.464262008667,"wires":[["c9c27829.a13c58"]]},{"id":"bf6f8ad8.ee1348","type":"switch","z":"4446942c.91dbec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":508.07140350341797,"y":1237.464299172163,"wires":[["fc97a35c.eb227","5bf51d61.92fa24","bf5e81f9.66186"],["c9c27829.a13c58"]]},{"id":"3dd558fa.706e58","type":"function","z":"4446942c.91dbec","name":"global set cvperm","func":"var temp = global.get('cvperm') -( -global.get('cvtemp')); \nvar cvperm = global.set('cvperm',temp);\nmsg.payload = global.get('cvperm');\nreturn msg;","outputs":1,"noerr":0,"x":967.785758972168,"y":1277.0356578826904,"wires":[["ae514186.f89d2"]]},{"id":"6eb50616.af9b08","type":"function","z":"4446942c.91dbec","name":"global set cvtemp","func":"var cvtemp = global.set('cvtemp',0);\nreturn msg;","outputs":1,"noerr":0,"x":969.3571357727051,"y":1322.607190132141,"wires":[[]]},{"id":"227109e.5ea21f6","type":"inject","z":"4446942c.91dbec","name":"conveyor 1","topic":"conveyor","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":181.64286613464355,"y":1432.107073187828,"wires":[["b33cb3c7.94625"]]},{"id":"b33cb3c7.94625","type":"function","z":"4446942c.91dbec","name":"global set conveyor","func":"global.set('conveyor',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":402.7619152069092,"y":1411.9524062871933,"wires":[[]]},{"id":"df00645c.446748","type":"inject","z":"4446942c.91dbec","name":"conveyor 0","topic":"conveyor","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":170.3333034515381,"y":1362.3333266973495,"wires":[["b33cb3c7.94625"]]},{"id":"551ca52d.75e12c","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/CVperm","x":1348.2856559753418,"y":1278.9287748336792,"wires":[]},{"id":"46211a9e.adc5f4","type":"comment","z":"4446942c.91dbec","name":"Conveyor runtime","info":"","x":744.0476379394531,"y":1085.9286918640137,"wires":[]},{"id":"3f60715d.27c82e","type":"DataOut","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","path":"/BRperm","error":false,"x":711.8572292327881,"y":158.09529149532318,"wires":[["ba48c499.e1dd68","d845b40f.31bde8","413fb5ec.d916dc"]]},{"id":"b571ce6.ab0be3","type":"function","z":"4446942c.91dbec","name":"global get cvperm","func":"msg.payload = global.get('cvperm');\nmsg.topic = 'cvperm';\nreturn msg;","outputs":1,"noerr":0,"x":795.7615261077881,"y":1687.7905069589615,"wires":[["f1bf0259.8a2e9"]]},{"id":"f1bf0259.8a2e9","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/CVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1042.8330211639404,"y":1695.8141409158707,"wires":[["9b54a466.238458"]]},{"id":"9b54a466.238458","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/CVperm","x":1253.3328342437744,"y":1704.7426573038101,"wires":[]},{"id":"8579c1b9.43633","type":"function","z":"4446942c.91dbec","name":"global set cvperm","func":"var cvperm = global.set('cvperm',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":990.8787689208984,"y":2067.597571372986,"wires":[[]]},{"id":"d182ba37.7e53e8","type":"DataOut","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","path":"/CVperm","error":false,"x":801.4501953125,"y":2075.1689949035645,"wires":[["8579c1b9.43633"]]},{"id":"3e832fdc.7990c","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/CVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":611.8787689208984,"y":2079.597571372986,"wires":[["d182ba37.7e53e8"]]},{"id":"a2c82ea0.3455c","type":"switch","z":"4446942c.91dbec","name":"reset blower runtime","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"brreset","vt":"str"}],"checkall":"true","outputs":1,"x":274.91991996765137,"y":1703.7286558151245,"wires":[["4d30ebb2.2b6174"]]},{"id":"4d30ebb2.2b6174","type":"function","z":"4446942c.91dbec","name":"Reset blower runtime","func":"var brtemp = global.set ('brtemp', 0);\nvar brperm = global.set ('brperm', 0);\nvar blwrcount = global.set ('blwrcount', 0);\nvar brreset = global.set ('brreset', 0);\nreturn msg; \n","outputs":"1","noerr":0,"x":505.91991996765137,"y":1703.7286558151245,"wires":[["4932788d.b3ee78"]]},{"id":"d5368692.71ad78","type":"switch","z":"4446942c.91dbec","name":"reset ball valve runtime","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"bvreset","vt":"str"}],"checkall":"true","outputs":1,"x":280.91991996765137,"y":1750.7286558151245,"wires":[["7bc95be3.a0cff4"]]},{"id":"7bc95be3.a0cff4","type":"function","z":"4446942c.91dbec","name":"Reset ball valve runtime","func":"var bvtemp = global.set ('bvtemp', 0);\nvar bvperm = global.set ('bvperm', 0);\nvar bvcount = global.set ('bvcount', 0);\nvar bvreset = global.set ('bvreset', 0);\nreturn msg; \n","outputs":"1","noerr":0,"x":511.91991996765137,"y":1750.7286558151245,"wires":[["849ccaec.ee1428"]]},{"id":"6c7d4291.1d179c","type":"switch","z":"4446942c.91dbec","name":"reset conveyor runtime","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"cvreset","vt":"str"}],"checkall":"true","outputs":1,"x":266.91991996765137,"y":1795.7286558151245,"wires":[["f1417000.f18c1"]]},{"id":"f1417000.f18c1","type":"function","z":"4446942c.91dbec","name":"Reset conveyor runtime","func":"var cvtemp = global.set ('cvtemp', 0);\nvar cvperm = global.set ('cvperm', 0);\nvar cvcount = global.set ('cvcount', 0);\nvar cvreset = global.set ('cvreset', 0);\nreturn msg; \n","outputs":"1","noerr":0,"x":507.91991996765137,"y":1795.7286558151245,"wires":[["b571ce6.ab0be3"]]},{"id":"f4f9ecdf.b6956","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1011.8422508239746,"y":611.9170255661011,"wires":[["d4b782ae.f7384"]]},{"id":"d4b782ae.f7384","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/BRperm","x":1213.2707481384277,"y":611.2740287780762,"wires":[]},{"id":"82f329d5.57b098","type":"function","z":"4446942c.91dbec","name":"global set brtemp","func":"if (global.get('brtemp')< 60) \n{var counter = global.get('brtemp') -(-1);\n    global.set('brtemp',counter);\n    msg.payload = global.get('brtemp');\n    return msg;\n}\nelse if (global.get('brtemp')>= 60)\n    {global.set('brtemp',0);\n    return msg;}\n\n","outputs":1,"noerr":0,"x":737.5905456542969,"y":568.6444263458252,"wires":[[]]},{"id":"df960d9f.3d629","type":"function","z":"4446942c.91dbec","name":"global set brperm","func":"if (global.get('brtemp')>= 60) {\nvar temp = global.get('brperm') -(-60); \nvar brperm = global.set('brperm',temp);\nmsg.payload = global.get('brperm');\nreturn msg;}\n","outputs":1,"noerr":0,"x":732.8915977478027,"y":612.3940906524658,"wires":[["f4f9ecdf.b6956"]]},{"id":"19d3b278.94d30e","type":"function","z":"4446942c.91dbec","name":"global set bvtemp","func":"if (global.get('bvtemp')< 60) \n{var counter = global.get('bvtemp') -(-1);\n    global.set('bvtemp',counter);\n    msg.payload = global.get('bvtemp');\n    return msg;\n}\nelse if (global.get('bvtemp')>= 60)\n    {global.set('bvtemp',0);\n    return msg;}\n\n\n\n","outputs":1,"noerr":0,"x":753.4022064208984,"y":874.2290496826172,"wires":[[]]},{"id":"a16fcec9.9cac5","type":"function","z":"4446942c.91dbec","name":"global set bvperm","func":"if (global.get('bvtemp')>= 60) {\nvar temp2 = global.get('bvperm') -(-60); \nvar bvperm = global.set('bvperm',temp2);\nmsg.payload = global.get('bvperm');\nreturn msg;}\n","outputs":1,"noerr":0,"x":752.9886779785156,"y":925.8359832763672,"wires":[["5e7c43cf.752c9c"]]},{"id":"5e7c43cf.752c9c","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":971.2250747680664,"y":925.3584785461426,"wires":[["11410aec.1acbd5"]]},{"id":"11410aec.1acbd5","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/BVperm","x":1210.1535949707031,"y":923.6443061828613,"wires":[]},{"id":"bf5e81f9.66186","type":"function","z":"4446942c.91dbec","name":"global set cvtemp","func":"if (global.get('cvtemp')< 60) \n{var counter = global.get('cvtemp') -(-1);\n    global.set('cvtemp',counter);\n    msg.payload = global.get('cvtemp');\n    return msg;\n}\nelse if (global.get('cvtemp')>= 60)\n    {global.set('cvtemp',0);\n    return msg;}\n","outputs":1,"noerr":0,"x":769.5061187744141,"y":1192.3781871795654,"wires":[[]]},{"id":"5bf51d61.92fa24","type":"function","z":"4446942c.91dbec","name":"global set cvperm","func":"if (global.get('cvtemp')>= 60) {\nvar temp3 = global.get('cvperm') -(-60); \nvar cvperm = global.set('cvperm',temp3);\nmsg.payload = global.get('cvperm');\nreturn msg;}\n","outputs":1,"noerr":0,"x":769.0926818847656,"y":1236.1278386116028,"wires":[["a8ccccc.f263b3"]]},{"id":"a8ccccc.f263b3","type":"change","z":"4446942c.91dbec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/CVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":976.6150665283203,"y":1234.5793762207031,"wires":[["4c8480f3.22938"]]},{"id":"4c8480f3.22938","type":"DataIn","z":"4446942c.91dbec","collection":"a1f829b6.77bde8","name":"","update":false,"path":"/CVperm","x":1205.186294555664,"y":1235.3648986816406,"wires":[]},{"id":"374b4e30.769312","type":"debug","z":"4446942c.91dbec","name":"","active":false,"console":"false","complete":"false","x":1502.342918395996,"y":111.78567504882812,"wires":[]},{"id":"6bfd28fa.221e38","type":"debug","z":"4446942c.91dbec","name":"","active":false,"console":"false","complete":"false","x":1545.2002449035645,"y":178.57140922546387,"wires":[]},{"id":"413fb5ec.d916dc","type":"debug","z":"4446942c.91dbec","name":"","active":false,"console":"false","complete":"false","x":929.8428987775528,"y":78.57138315268924,"wires":[]},{"id":"f733b4aa.8e6148","type":"inject","z":"4446942c.91dbec","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":675.1287384033203,"y":514.8571171760559,"wires":[["82f329d5.57b098"]]},{"id":"9566eec2.ecf4e","type":"inject","z":"4446942c.91dbec","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":679.1286430358887,"y":814.2857522964478,"wires":[["19d3b278.94d30e"]]},{"id":"96f76478.7e9ba8","type":"inject","z":"4446942c.91dbec","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":706.6285820007324,"y":1131.7857646942139,"wires":[["bf5e81f9.66186"]]},{"id":"5d70f747.21cc18","type":"switch","z":"4446942c.91dbec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":383.0120029449463,"y":1598.2859700918198,"wires":[["59904e06.5aaf6"],[]]},{"id":"a1f829b6.77bde8","type":"json-db-collection","z":"","name":"","collection":"Runtimes","save":true}]