lib/flows/sql example.json
[{"id":"83d2b786.c2aff8","type":"debug","z":"9bd3aea3.8e29b","name":"","active":true,"console":"false","complete":"payload","x":878.5000305175781,"y":928.2856922149658,"wires":[]},{"id":"6e91308c.9c61d","type":"template","z":"9bd3aea3.8e29b","name":"Create Table measure","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE measureF (\nid INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,\ntime FLOAT(4,2),\ntemp FLOAT(4,2),\nhum FLOAT(4,2)\n)","output":"str","x":375.71429443359375,"y":854.2857055664062,"wires":[["b3d680e5.9bd38"]]},{"id":"d7f18025.48b3e","type":"template","z":"9bd3aea3.8e29b","name":"SELECT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n    id, time, temp, hum \n    FROM measureF ","output":"str","x":412.8571319580078,"y":1125.7142524719238,"wires":[["b3d680e5.9bd38"]]},{"id":"1f2c5aad.526d45","type":"template","z":"9bd3aea3.8e29b","name":"Insert into measure","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO measureF (time, temp, hum) \nVALUES (0.22,1.11,2.00) \n","output":"str","x":365.71429443359375,"y":914.2857055664062,"wires":[["b3d680e5.9bd38"]]},{"id":"1def49c8.5c5356","type":"template","z":"9bd3aea3.8e29b","name":"Delete Table measureF","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE TABLE measureF","output":"str","x":372.85713958740234,"y":1167.1427879333496,"wires":[["b3d680e5.9bd38"]]},{"id":"f608c80c.dd3f28","type":"template","z":"9bd3aea3.8e29b","name":"Drop Table MeasureF","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE measureF","output":"str","x":372.8571548461914,"y":1214.2855825424194,"wires":[["b3d680e5.9bd38"]]},{"id":"b3d680e5.9bd38","type":"mysql","z":"9bd3aea3.8e29b","mydb":"40be5745.6bf728","name":"","x":697.1428833007812,"y":938.5714721679688,"wires":[["83d2b786.c2aff8"]]},{"id":"dffb8d4e.92cea","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":122.85714340209961,"y":844.2857513427734,"wires":[["6e91308c.9c61d"]]},{"id":"6546aac4.96ee34","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":124.28571319580078,"y":905.7142944335938,"wires":[["1f2c5aad.526d45"]]},{"id":"43335295.ba8e0c","type":"template","z":"9bd3aea3.8e29b","name":"Insert into measure","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO measureF (time, temp, hum) \nVALUES (CURRENT_TIMESTAMP, {{payload.Temp}}, {{payload.Hum}} ) \n","output":"str","x":852.8571853637695,"y":1127.1428318023682,"wires":[[]]},{"id":"40daff62.e9bfd","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135.7142791748047,"y":1124.2857418060303,"wires":[["d7f18025.48b3e"]]},{"id":"9410175b.56d178","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128.57141876220703,"y":1177.142858505249,"wires":[["1def49c8.5c5356"]]},{"id":"816e4292.494b4","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.71427917480469,"y":1219.9999752044678,"wires":[["f608c80c.dd3f28"]]},{"id":"f625beba.388bd","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118.57141876220703,"y":952.857177734375,"wires":[["c81614da.2b8f18"]]},{"id":"f91ec48c.490e08","type":"template","z":"9bd3aea3.8e29b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table style=\"width:100%\">\n  <tr>\n    <th>Index</th> \n    <th>Sensor</th>\n    <th>Temperature</th> \n    <th>Humidity</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td align=\"center\">{{msg.payload[$index].SensorName}}</td>\n    <td align=\"center\">{{msg.payload[$index].Temperature}}</td> \n    <td align=\"center\">{{msg.payload[$index].Humidity}}</td>\n  </tr>\n</table>","output":"str","x":701.4285703386579,"y":1325.7142516544886,"wires":[["16bb6b08.b91dd5"]]},{"id":"45bd5586.b44f5c","type":"http in","z":"9bd3aea3.8e29b","name":"","url":"/web","method":"get","upload":false,"swaggerDoc":"","x":439.99999891008645,"y":1312.8571087973457,"wires":[["f91ec48c.490e08"]]},{"id":"16bb6b08.b91dd5","type":"http response","z":"9bd3aea3.8e29b","name":"web","statusCode":"","headers":{},"x":881.4285703386579,"y":1327.14282308306,"wires":[]},{"id":"c81614da.2b8f18","type":"template","z":"9bd3aea3.8e29b","name":"update into measure","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE measureF SET temp = 0 WHERE id = 3\n\n","output":"str","x":375.71429443359375,"y":954.2857055664062,"wires":[["b3d680e5.9bd38"]]},{"id":"70a04342.235b2c","type":"inject","z":"9bd3aea3.8e29b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1001.4285888671875,"wires":[["c6078059.90933"]]},{"id":"c6078059.90933","type":"template","z":"9bd3aea3.8e29b","name":"delete into measure","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM measureF WHERE id = 5\n\n\n\n","output":"str","x":357.1428756713867,"y":1002.8571166992188,"wires":[["b3d680e5.9bd38"]]},{"id":"40be5745.6bf728","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"kiosk","tz":""}]